@{
    ViewData["Title"] = "Начальная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Программа «Фабрика мебели «Мягкое место». Расчет с клиентами.» предназначена для ведения расчетов по заказам мебели. 
    Клиенты (покупатели) могут выбрать мебель из перечня товаров. Оплата производится полностью за весь заказ, или частично. 
    Также программа позволяет получать отчеты по покупкам и оплатам в разных форматах.</p>
</div>
